.side-content
  %nav.mypage-nav
    %ul.mypage-nav-list
      %li
        =link_to mypage_users_path, class: "mypage-nav-list-item" do
          マイページ
          = icon("fas", "angle-right", class: "icon-arrow-right")
      %li
        =link_to "#", class: "mypage-nav-list-item" do
          お知らせ
          = icon("fas", "angle-right", class: "icon-arrow-right")
      %li
        =link_to "#", class: "mypage-nav-list-item" do
          やることリスト
          = icon("fas", "angle-right", class: "icon-arrow-right")
      %li
        =link_to "#", class: "mypage-nav-list-item" do
          いいね！一覧
          = icon("fas", "angle-right", class: "icon-arrow-right")
      %li
        =link_to new_item_path, class: "mypage-nav-list-item" do
          出品する
          = icon("fas", "angle-right", class: "icon-arrow-right")
      %li
        =link_to "#", class: "mypage-nav-list-item" do
          出品した商品 - 出品中
          = icon("fas", "angle-right", class: "icon-arrow-right")
      %li
        =link_to "#", class: "mypage-nav-list-item" do
          出品した商品 - 取引中
          = icon("fas", "angle-right", class: "icon-arrow-right")
      %li
        =link_to "#", class: "mypage-nav-list-item" do
          出品した商品 - 売却済み
          = icon("fas", "angle-right", class: "icon-arrow-right")
      %li
        =link_to "#", class: "mypage-nav-list-item" do
          購入した商品 - 取引中
          = icon("fas", "angle-right", class: "icon-arrow-right")
      %li
        =link_to "#", class: "mypage-nav-list-item" do
          購入した商品 - 過去の取引
          = icon("fas", "angle-right", class: "icon-arrow-right")
      %li
        =link_to "#", class: "mypage-nav-list-item" do
          ニュース一覧
          = icon("fas", "angle-right", class: "icon-arrow-right")
      %li
        =link_to "#", class: "mypage-nav-list-item" do
          評価一覧
          = icon("fas", "angle-right", class: "icon-arrow-right")
      %li
        =link_to "#", class: "mypage-nav-list-item" do
          ガイド
          = icon("fas", "angle-right", class: "icon-arrow-right")
      %li
        =link_to "#", class: "mypage-nav-list-item" do
          お問い合わせ
          = icon("fas", "angle-right", class: "icon-arrow-right")
    
    %h3.mypage-nav-head-setting
      設定
    %ul.mypage-nav-list-setting
      %li
        =link_to "#", class: "mypage-nav-list-setting-item" do
          プロフィール
          = icon("fas", "angle-right", class: "icon-arrow-right")
      %li
        =link_to "#", class: "mypage-nav-list-setting-item" do
          発送元・お届け先住所変更
          = icon("fas", "angle-right", class: "icon-arrow-right")
      %li
        -# = link_to "#", method: "get", class: "mypage-nav-list-setting-item" do
        -#   カードの登録・編集
        -#   = icon("fas", "angle-right", class: "icon-arrow-right")
        - if @user.credit_card.present?
          = link_to credit_card_path(@user.credit_card.id), method: "get", class: "mypage-nav-list-setting-item" do
            カードの編集
            = icon("fas", "angle-right", class: "icon-arrow-right")
        - else
          = link_to new_credit_card_path, method: "get", class: "mypage-nav-list-setting-item" do
            カードの登録
            = icon("fas", "angle-right", class: "icon-arrow-right")
      %li
        =link_to "#", class: "mypage-nav-list-setting-item" do
          メール/パスワード
          = icon("fas", "angle-right", class: "icon-arrow-right")
      %li
        =link_to identification_users_path, class: "mypage-nav-list-setting-item" do
          本人情報
          = icon("fas", "angle-right", class: "icon-arrow-right")
      %li
        =link_to "#", class: "mypage-nav-list-setting-item" do
          電話番号の確認
          = icon("fas", "angle-right", class: "icon-arrow-right")
      %li
        =link_to logout_users_path, class: "mypage-nav-list-setting-item" do
          ログアウト
          = icon("fas", "angle-right", class: "icon-arrow-right")