.productlist
  = link_to item_path(item.id) do
    %figure.productlist--img
      - if item.images[0].blank?
        = image_tag "material/pict/no_images.png"
      - else
        = image_tag item.images[0].image.url
    .productlist--body
      %h3.name
        = item.name
      .details
        %ul
          %li
            = item.price
          %li
            = icon("fas","star")
            1
        %p
          (税込)